@model CreditCards.Web.Models.NewCreditCardApplicationDetails
@{
    ViewData["Title"] = "Credit Card Application";
}
<h1 class="h2">New Credit Card Application</h1>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                Application Details
            </div>
            <div class="card-body">
                @Html.ValidationSummary()
                <form method="post" asp-controller="Apply" asp-action="Index">
                    <fieldset class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" type="text" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" type="text" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label asp-for="Age"></label>
                        <input asp-for="Age" class="form-control" type="number" />
                    </fieldset>
                    <fieldset class="form-group">
                        <label asp-for="GrossAnnualIncome"></label>
                        <input asp-for="GrossAnnualIncome" class="form-control" type="number" />
                    </fieldset>
                    <input type="submit" value="Submit Application" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>